.body {
  margin-top: 134px;
  display: flex;
  font-family: "Montserrat";
  background-color: #f8f8f8;
}
.content {
  padding: 70px;
  padding-top: 55px;
  padding-bottom: 0;
  width: calc(100% - 140px);
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  height: 1px;
  background: gray;
  width: calc(100% - 140px);
  top: 90px;
}

.pageNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}

.pageNav a {
  text-decoration: none;
  color: #585859;
  border-bottom: 4px solid transparent;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  transition-duration: 0.5s;
}
.pageNav a:hover {
  color: #ff605b;
  border-bottom: 4px solid #ff605b;
}
.pageNav a.activeLink {
  color: #e53934;
  border-bottom: 8px solid #e53934;
}

.askQuestion {
  margin-top: 43px;
  position: relative;
}

.askQuestion p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 137%;
}

.askQuestion input {
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(61, 61, 61, 0.1);
  border-radius: 8px;
  padding: 20px;
  max-width: 608px;
  width: 80%;
  border: none;
  font-size: 16px;
  outline: none;
}

.askQuestion button {
  position: relative;
  background: #E1423C;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  padding: 13px 24px;
  color: #FFFFFF;
  border: none;
  right: 110px;
  top: 0;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.askQuestion button:hover {
  background:  #ff605b;
  transition: all 0.3s ease;
}

.accordionTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 137%;
  margin-top: 40px;
  margin-bottom: 30px;
}

#accordion {
  max-width: 1267px;
  width: 90%;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(61, 61, 61, 0.2);
}

#accordion h3 {
  font-weight: 500;
  font-size: 18px;
  color: #e53934;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
  padding: 45px 40px 40px;
  margin: 0;
}

.accordionItems {
  padding: 30px 40px 30px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  color: #333333;
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 137%;
}

.accordionItems::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -2px;
  left: 0;
  z-index: 10;
}

.accordion-arrows {
  margin-right: 19px;
  margin-top: 23px;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  color: #E1423C;
  width: 26px;
  height: 26px;
}

.accordionItemsContent {
  padding: 0px 40px;
  font-size: 18px;
  line-height: 160%;
  color: #333333;
  border-bottom: 1px solid #e5e5e5;
  border-top: none;
  display: none;
  height: 0;
  background: #f8f8f8;
}

.accordionItemsContent p {
  margin: 0;
}

.activeItemContent {
  display: block;
  height: 100%;
  padding-bottom: 20px;
  border-left: 5px solid #E1423C;
}

.activeItem {
  margin-bottom: 0;
  border: none;
  background: #f8f8f8;
}

.activeArrow {
  transform: rotate(180deg);
  margin-bottom: 20px;
  margin-right: 27px;
  transition: transform 0.3s ease;
}

.anleitungContent {
  max-width: 1267px;
  width: 90%;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(61, 61, 61, 0.2);
  margin-top: 43px;
}

.anleitungContent h3 {
  color: #333333;
  font-weight: 600;
  font-size: 18px;
  line-height: 137%;
  padding: 30px 40px 0;
}

.anleitungContent p {
  padding: 0 40px;
  font-size: 18px;
  line-height: 160%;
  color: #333333;
}

.anleitungContent p:last-child {
  padding-bottom: 80px;
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  #accordion {
   max-width: 800px;
  }
  .scroll {
    font-size: 16px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  #accordion {
    max-width: 750px;
    width: 93%;
  }

  .scroll {
    font-size: 15px;
  }
}

@media screen  and (max-width: 800px) {
  #accordion {
    width: 90%;
  }

  .scroll {
    font-size: 14px;
  }
}

footer{
  width: 100%;
  height: max-content;
  margin-top: 130px;
  padding-bottom: 48px;
}
.footBody{
  border-top: 1px solid rgba(128, 128, 128, .6);
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
}
.footBlock{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footBlock img{
  width: 85px;
}
.footSide{
  display: flex;
}
.footBlock h5{
  font-size: 20px;
  color: #333333;
  margin-block-end: 15px;
}
.footBlock span{
  font-size: 13px;
  font-weight: 500;
}
#footMargin{
  margin-left: 100px;
}
.phone{
  text-decoration: none;
  color: #e5312c;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.phone:hover{
  text-decoration: underline;
}
.footBlock h6{
  font-size: 11px;
}
.email{
  font-size: 13px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin-top: 3px;
}
.email:hover{
  text-decoration: underline;
}

@media screen and (max-width: 1280px){
  #footMargin{
      margin-left: 30px;
  }
}

@media screen and (max-width: 1024px){
  .footSide{
      display: flex;
      flex-direction: column;
  }
  #footMargin{
      margin: 0;
  }
  .askQuestion button {
    display: block;
    position: static;
    margin-top: 30px;
  }
}

@media screen and (max-width: 845px){
  .footBody{
      flex-direction: column;
  }
}

@media screen and (max-width: 520px){
  .content{
      padding: 30px;
      width: calc(100% - 60px);
  }
}

@media screen and (max-width: 440px){
  footer{
      margin-top: 50px;
  }
}